StudyCode/.ipynb_checkpoints/

Practice/Digit Recognizer/data/MNIST/raw/t10k-images-idx3-ubyte
Practice/Digit Recognizer/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Practice/Digit Recognizer/data/MNIST/raw/t10k-labels-idx1-ubyte
Practice/Digit Recognizer/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Practice/Digit Recognizer/data/MNIST/raw/train-images-idx3-ubyte
Practice/Digit Recognizer/data/MNIST/raw/train-images-idx3-ubyte.gz
Practice/Digit Recognizer/data/MNIST/raw/train-labels-idx1-ubyte
Practice/Digit Recognizer/data/MNIST/raw/train-labels-idx1-ubyte.gz
